{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form action="{{ path('order_checkout') }}" method="POST">
            <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_eh3KOtCG8Jy1GAW7zRejuX3F"
                    data-amount="5000"
                    data-name="Fujaco"
                    data-description="Example charge"
                    data-locale="auto"
                    data-currency="usd">
            </script>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}