{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Let's set up your account.</h2>

        <p>Share some info to kickstart youir free 14 day trial of the Pro plan.</p>

        <div class="row">
            <div class="col-sm-6 col-xs-12"></div>
            <div class="col-sm-6 col-xs-12"></div>
        </div>

        <div class="row">
            <div class="col-xs-12"></div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-12"></div>
            <div class="col-sm-6 col-xs-12"></div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
