.red-bg {
	background-color: #FF0000;
	padding-top: 5px;
	padding-bottom: 5px;
}

.logo {
	width: 150px;
}

.center {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.white-bg {
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}

.no-pad {
	padding: 0;
}

ul.check {
  margin-top: 0;
  padding-left: 2em;
  list-style-type: none;
}
.check li:before {
  position: absolute;
  margin-left: -1.3em;
  font-weight: bold;
}
.check li.valid:before {
  content: "\2713";
  color: darkgreen;
}
.check li.invalid:before {
  content: "\2717";
  color: crimson;
}